.blog_item{
    border: 1px solid #7cBa972e;
}
.blog_time{
    border: 1px solid #7cBa972e;

}
.read_more{
    color: #f9a826 !important;
}
.blog_time span i{
    color: #f9a826 !important;
}
.blog_author{
    color: #000d6d;
    font-weight: 600;
}
.blog_author i{
    font-weight: 500;
}