.booking_form {
  width: 48%;
}
.booking_form input {
  padding: 8px 15px;
  border: 1px solid #7cba972a;
  color: #7c8a97;
  width: 100%;
}
.booking_form select,
.textarea {
  padding: 8px 15px;
  width: 100%;
  color: #7c8a97;
  border: 1px solid #7cba972a;
  border-radius: 4px;
}
.time_picker::before {
  content: "Journey Time";
  color: #7c8a97;
  margin-right: 0.5rem;
}
.textarea:focus,
.booking_form input:focus,
.booking_form select:focus {
  outline: none;
}
