.section_section{
    background: linear-gradient(rgba(0,13,107,0.6),rgba(0,13,107,0.6)),url('../assets/all-images/drive.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}